body {
    font-family: Helvetica;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    width: 960px;
	max-width: 100%;
    margin: 0 auto;
}

.sidebar {
    width: 20%;
    float: left;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar li a {
    display: inline-block;
    width: 100%;
    padding: 15px;

    box-sizing: border-box;
}

.sidebar li a:hover {
    background-color: cadetblue;
    color: #fff;
}

.content {
    width: 80%;
    min-height: 500px;
    float: right;
    padding: 10px;
    box-shadow: 1px 1px 5px;

    box-sizing: border-box;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*tabel*/
table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data td {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

table.data tr:hover:not(:first-child) {
    background-color: #eee;
}


/*form*/
input, textarea {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: large;
}

textarea {
    min-height: 200px;
}

.btn {
    width: auto;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.btn-submit {
    background-color: cadetblue;
}

.btn-edit {
    background-color: orange;
}

.btn-hapus {
    background-color: crimson;
}

