body {
    font-family: Helvetica;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    width: 960px;
	max-width: 100%;
    margin: 0 auto;
}

.header ul {
    list-style: none;
    padding-left: 0;
	background-color: cadetblue;
}

.header li {
    float: left;
}

.header li a {
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
}

.header li a:hover {
    background-color: teal;
}

.item {
    margin-bottom: 50px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding: 10px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
